mat-card{
    display: flex;
    flex-direction: column;
    height: 410px;
    background-color: #f5efef;
    width: 200px;
    align-items: center;
}
.titulo{
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.preco{
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
p{
    font-size: 20px;
}

mat-list-item{
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: bolder;
    
}