<mat-card [style]="'background-color:' + bg +'; height:' + altura+ '; color:' +cor+';'">  
    <mat-card-header>
        <mat-card-subtitle [style]="'color:'+ cor+';'" class="titulo">{{titulo}}</mat-card-subtitle>
    </mat-card-header>  
    
    <mat-card-content>
        <mat-list>
            <mat-list-item [style]="'color:'+ cor+';'" class="preco"><p>R$</p>{{cmpPreco}}</mat-list-item> 
            <mat-divider></mat-divider>

            <mat-list-item [style]="'color:'+ cor+';'" >{{cmpStorage}}</mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item [style]="'color:'+ cor+';'" >{{cmpUser}}</mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item [style]="'color:'+ cor+';'" >{{cmpSend}}</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-card-content>

    <mat-card-actions>
    <button mat-stroked-button color="Primary" (click)="emitirEventoPersonalizado()">Learn More</button>
    </mat-card-actions>   
</mat-card>

