<div class="wrapper">
<app-card 
    [titulo]="'Basic'"
    [cmpPreco]="'19.90'"
    [cmpStorage]="'500GB Storage'"
    [cmpUser]="'2 users Allowed'"
    [cmpSend]="'Send up to 3GB'"
    (eventoPersonalizado)="mostrarSnackBar()"
></app-card>
<app-card
    [bg] = "'#8388e6'"
    [altura]="'320px'"
    [cor]="'white'"
    [titulo]="'Professional'"
    [cmpPreco]="'24.99'"
    [cmpStorage]="'1TB Storage'"
    [cmpUser]="'5 users Allowed'"
    [cmpSend]="'Send up to 10GB'"
    (eventoPersonalizado)="mostrarSnackBar()"
></app-card>
<app-card
    [titulo]="'Master'"
    [cmpPreco]="'39,90'"
    [cmpStorage]="'2TB Storage'"
    [cmpUser]="'10 users Allowed'"
    [cmpSend]="'Send up to 20GB'"
    (eventoPersonalizado)="mostrarSnackBar()"
></app-card>
</div>